<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Filthy Mongrel</key>
	<array>
		<string>Filthy Mongrel</string>
		<string>EVIL</string>
		<string>That strange dog that everyone is treating like a bounty-hunter must go. By the order of Prince Jack, that smelly, disease ridden mongrel must be removed from our streets by any means necessary. He is disrupting the lives of ordinary citizens, and it&apos;s just really weird. Make it gone.</string>
		<string>(46.892386,-96.799669)</string>
		<string>Prince Jack, The Iron Horse (46.8739748, -96.806112)</string>
	</array>
	<key>Special Delivery</key>
	<array>
		<string>Special Delivery</string>
		<string>NEUTRAL</string>
		<string>Sir Jimmy was once the fastest man in the kingdom, brave as any soldier and wise as a king. Unfortunately, age catches us all in the end, and he has requested that I, his personal scribe, find a hero to deliver a package of particular importance--and protect it with their life.</string>
		<string>(46.8657639, -96.7363173)</string>
		<string>Sir Jimmy The Swift (46.8739748, -96.806112)</string>
	</array>
	<key>Bandits in the Woods</key>
	<array>
		<string>Bandits in the Woods</string>
		<string>GOOD</string>
		<string>The famed bounty hunter HotDog has requested the aid of a hero in ridding the woods of terrifying bandits who have thus far eluded his capture, as he is actually a dog, and cannot actually grab things more than 6 feet off the ground.</string>
		<string>(46.908588, -96.808991)</string>
		<string>HotDogg The Bounty Hunter (46.8541979, -96.8285138)</string>
	</array>
</dict>
</plist>
